.signIn {
	border: 2px solid #4e5d6c;
	width: 60% !important;
	margin-top: 0.5rem;
	margin-left: 1rem !important;
	box-shadow: 2px 2px 2px 2px #4e5d6c;
}
.signIn-form {
	width: 40%;
	margin: 0 auto;
	margin-top: 2rem;
}
.signIn hr {
	border-color: #868e96;
	width: 50%;
}
@media screen and (max-width: 800px) {
	.signIn {
		width: 80% !important;
		text-align: center;
		margin: 0 auto !important;
		margin-top: 2rem !important;
		margin-bottom: 10rem !important;
	}
	.signIn-form {
		width: 70%;
		margin: 0 auto;
		margin-top: 2rem;
	}
}
